body {
	background-image: url("img/pexels-szabó-viktor-3227984.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding: 15px 50px;
}
.card-body {
	background-image: linear-gradient(-225deg, #ffb091 0%, #ffe6fa 100%);
	width: 560px;
	margin: 0 auto;
	border-radius: 10px;
}
div.container.d-flex {
	padding: 0px;
	background-image: url("img/cloudss.gif");
}
input.form-control,
.formcontrol {
	width: 50%;
	float: center;
	border-radius: 5px;
	display: inline;
	position: relative;
	font-size: 18px;
	text-align: center;
	font-family: "Unica One", cursive;
	background-color: white;
}
input#search-button.searchButton {
	border-radius: 5px;
	background-color: white;
	color: #393e46;
	width: 17%;
	height: 42px;
	display: inline;
	font-size: 18px;
	font-family: "Unica One", cursive;
	box-shadow: none;
	border: 1px solid #ced4dc;
	text-decoration: none;
	transition: all 200ms ease;
}
input#search-button.searchButton:hover {
	color: white;
	background-color: #03506f;
}
button#celsuis-link.btn-light,
#fahrenheit-link.btn-light,
#current-location-button.btn-light {
	position: relative;
	float: right;
	font-size: 18px;
	display: inline;
	font-family: "Unica One", cursive;
	color: #393e46;
	border-radius: 0px;
}
#current-location-button.btn-light {
	border-radius: 5px 0px 0px 5px;
}
button#celsuis-link.btn-light {
	border-radius: 0px 5px 5px 0px;
}
h1 {
	text-align: left;
	float: center;
	display: block;
	color: #393e46;
	font-family: "Unica One", cursive;
	padding-top: 5px;
	font-size: 50px;
}
.location {
	font-size: 45px;
	margin: 0 auto;
}
.today,
.currentHour {
	font-size: 20px;
}
.bigIcon {
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
div.clearfix.weather-temperature {
	height: 100px;
	padding: 0px 0px, 0px, 0px;
	margin: 0 auto;
}
ul {
	list-style-type: none;
	padding-inline-start: 0px;
}
.sizeDegrees {
	font-size: 45px;
	margin: auto 0;
}
li#current-weather-conditions {
	font-weight: bold;
}
.weatherConditionsList {
	text-align: left;
	float: left;
	font-size: 20px;
	color: #393e46;
	font-weight: 500px;
	font-family: "Unica One", cursive;
}
footer {
	font-family: "Unica One", cursive;
	text-align: center;
	color: white;
	font-size: 12px;
}
#linkedin,
#opensourcecode {
	color: white;
}
